image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"

stages:
  - build
  - test

before_script:
  - docker info

build:
  stage: build
  script:
    - docker-compose build
  only:
    - main
    - develop

test:
  stage: test
  script:
    - docker-compose run --rm web rails db:create
    - docker-compose run --rm web rails db:migrate
    - docker-compose run --rm web rails test
  only:
    - main
    - develop
