<div class="container">
  <h1>造園会社へようこそ</h1>
  <p>美しい庭園をデザイン・施工いたします。</p>
  
  <section class="services">
    <h2>私たちのサービス</h2>
    <ul>
      <li>庭園設計・デザイン</li>
      <li>造園工事</li>
      <li>庭のメンテナンス</li>
      <li>植栽管理</li>
    </ul>
  </section>
</div>
