<% content_for :title, "お問い合わせありがとうございます - グリーンガーデン" %>

<div class="thanks-page">
  <div class="thanks-page__content fade-in">
    <div class="thanks-page__icon">✓</div>
    <h1 class="thanks-page__title">お問い合わせありがとうございます</h1>
    <p class="thanks-page__message">
      お問い合わせを受け付けました。<br>
      ご入力いただいたメールアドレス宛に、確認メールをお送りいたしました。<br>
      <br>
      担当者より2営業日以内にご連絡させていただきます。<br>
      今しばらくお待ちくださいませ。
    </p>
    <div class="thanks-page__actions">
      <%= link_to "トップページへ戻る", root_path, class: "btn btn--primary btn--large" %>
    </div>
  </div>
</div>
